.footer .box-footer {
    padding: 60px 30px 30px 30px;
    text-align: center;
    line-height: 21px;
    margin: 16.5px;
}

.copyright {
    color: #8a8a8a;
    line-height: 16.8px;
    font-size: 11.2px;
    letter-spacing: 0.5px;
}

.copyright > a {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
}

.copyright > a:hover {
    text-decoration: underline;
}