/* formatting of htmlt and body */
#html, #body {
    background-color: var(--color-html);
    margin: 0;
    width: var(--width-el); /* Var with width 100% */
    font-family: 'Roboto', sans-serif;
}

/*
===============================================================

formatting the header of page

===============================================================*/
header#header {
    margin: 0px 0px 0px 0px; /* margin-top: 0, margin-right: 0, margin-bottom: 0, margin-left: 0 */
}

/*
===============================================================

formatting the content of div class network social

===============================================================*/
div.network-social {
    background-color: var(--color-primary);
    width: 50%;
    height: 60px;
    float: left;
    padding: 15px 0px 0px 120px;
    box-sizing: border-box;
}

a.ns-link {
    text-decoration: none;
    margin: 0;
}

i.fab {
    color: var(--color-dark);
    font-size: 29px;
    margin: 0px 4px;
}

i.fa-facebook-square:hover {
    color: #4267B2;
}

i.fa-twitter-square:hover {
    color: #1DA1F2;
}

i.fa-linkedin:hover {
    color: #0077B5;
}

i.fa-whatsapp-square:hover {
    color: #1EBEA5;
}

i.fa-github-square:hover {
    color: #ffffff;
}

/*
===============================================================

formatting the content of class download portfolio

===============================================================*/
div.download-portfolio {
    background-color: var(--color-primary);
    width: 50%;
    height: 60px;
    float: right;
    box-sizing: border-box;
}

button.btn {
    border: none;
    border-radius: 3px;
    background-color: var(--color-btn);
    color: var(--color-light);
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px;  
    margin: 13px 120px 0px 0px;
    float: right;   
    font-weight: 500;
    font-size: 14;
    box-shadow: var(--shadow);
}

button.btn::before {
    font-size: 26px;
}

button.btn:hover {
    background-color: rgb(119, 223, 119);
}

div.profile {
    clear: both;
}

/*
===============================================================

formatting of profile

===============================================================*/

div.about-me {
    background-color: var(--color-primary);
    width: 100%;
    height: 290px;
    padding: 10px 0px 40px 0px;
}

div.about-me > h1.name, h2.title {
    color: var(--color-dark);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1.name {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

h2.title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

div.about > p {
    width: 683px;
    margin: 10px auto;
    text-align: center;
    color: var(--color-darkness);
    font-size: 1em;
    font-style: medium;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/*
================================================================

formatting the content of div photo-profile

===============================================================*/
div.photo-profile {
    position: relative;
    width: 100%;
}

div.photo > img {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    top: -87px;
    margin-left: -80px;
    left: 50%;
}

div.photo::after {
    content: "";
    clear: both;
    display: table;
}

div.information {
    background-color: var(--color-thirt);
    width: 100%;
    height: 240px;
}

div.contact {
    position: relative;
    top: 40%;
    width: 260px;
    margin-left: -80px;
    left: 50%;
}

i.fas {
    color: var(--color-dark);
    margin: 10px 0px;
    font-size: 1em;
}

i.fas::before {
    margin-right: 10px;
}

a.ct-link {
    color: var(--color-dark);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: medium;
    text-decoration: none;
}

a.ct-link:hover {
    color: var(--color-dark);
    text-decoration: underline;
}

