/* formatting of htmlt and body */
#html, #body {
    background-color: var(--color-html);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

/*
===============================================================

formatting the header of page

===============================================================*/
header#header {
    margin: 0px 0px 0px 0px;
}

/* formatting network-social */
div.network-social {
    background-color: var(--color-primary); /* lightcolor  */
    box-sizing: border-box;
    float: left;
    height: 60px;
    padding: 15px 0px 0px 120px;
    width: 50%;
}

/* formatting of links class network-social (ns) */
a.ns-link {
    text-decoration: none;
    margin: 0;
}

/* item */
i.fab {
    color: var(--color-dark); /* color: black */
    font-size: 31px;
    margin: 0px 4px;
}

/* item hover color */
i.facebook:hover {
    color: #4267B2;
}

i.twitter:hover {
    color: #1DA1F2;
}

i.linkedin:hover {
    color: #0077B5;
}

i.whatsapp:hover {
    color: #1EBEA5;
}

i.github:hover {
    color: #ffffff;
}

/* formatting the content of class download portfolio */
div.download-portfolio {
    background-color: var(--color-primary);
    width: 50%;
    height: 60px;
    float: right;
    box-sizing: border-box;
}

/* styling class buttton */
a.btn {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    background-color: var(--color-thirt);
    box-shadow: var(--shadow);
    color: var(--color-light);
    cursor: pointer;
    float: right;   
    font-weight: 500;
    font-size: 14px;
    margin: 13px 120px 0px 0px;
    line-height: 16px;
    padding: 10px 15px;  
    text-transform: uppercase;
    text-decoration: none;
}

/* formatting button with item download */
a.btn > i.fa-download {
    color: var(--color-light);
    margin: 0px;
}

a.btn::before {
    font-size: 26px;
}

/* button hover */
a.btn:hover {
    background-color: var(--color-btn-hover);
}

/* clear float */
div.profile {
    clear: both;
}

/*
===============================================================

formatting of profile

===============================================================*/


div.about-me {
    background-color: var(--color-primary);
    width: 100%;
    height: 290px;
    padding: 10px 0px 40px 0px;
}

/* formatting headers of about profile */
div.about-me > h1.name, h2.title {
    color: var(--color-dark);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1.name {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

h2.title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

div.about > p {
    width: 683px;
    margin: 10px auto;
    text-align: center;
    color: var(--color-darkness);
    font-size: 1em;
    font-style: medium;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/*
================================================================

formatting the content of div photo-profile

===============================================================*/

div.photo-profile {
    position: relative;
    width: 100%;
}

div.photo > img {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    top: -87px;
    margin-left: -80px;
    left: 50%;
}

div.photo::after {
    content: "";
    clear: both;
    display: table;
}

div.information {
    background-color: var(--color-content);
    width: 100%;
    height: 240px;
}

div.contact {
    position: relative;
    top: 40%;
    width: 260px;
    margin-left: -80px;
    left: 50%;
}

i.fas {
    color: var(--color-dark);
    margin: 10px 0px;
    font-size: 1em;
}

i.fas::before {
    margin-right: 10px;
}

/* formatting of links on information class */
a.ct-link {
    color: var(--color-dark);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: medium;
    text-decoration: none;
}

/* ct-link hover of infromation class */
a.ct-link:hover {
    color: var(--color-dark);
    text-decoration: underline;
}

