/*
===============================================================
formatation of navigation menu
===============================================================*/

/* formatation class navMenu */
nav.navMenu {
    align-items: center;
    background-color: var(--color-thirt);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 100%;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }

 /* formatting menu margin*/
ul.menu {
    list-style-type: none;   
    margin: 0px 0px 0px 0px;
}

/* item navigation */
li.menu-item {
    display: inline;
    margin-right: 30px;
}

li.item- {
    margin-right: 0;
}

/* styling links navMenu */
a.link {
    color: var(--color-navigation);
    text-decoration: none;
    font-size: 0.9em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin: 0;
}

/* color hover links navMenu */
a:hover {
    color: var(--color-light);
}

/* menu navigation fixed after scroll top */
.navMenu.sticky {
    background-color: var(--color-content);
    height: 60px;
    transition: height 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
}

/* highlighting item active after scroll */
a.active {
    color: #fff;
}

/* top up button */
div#topcontrole {
    background-color: var(--color-content);
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    display: none;
    height: 36px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    opacity: 1;
    width: 36px;
    z-index: 99;
    outline: none;
}

/* icon fontawesome */
div#topcontrole > .fa-angle-up {
    color: #fff;
    font-size: 26px;
    position: relative;
    top: -7px;
    right: -10px;
}

/* btn hover background */
#topcontrole:hover {
    background-color: var(--color-thirt);
}