/* ===============================================================

Set color

===============================================================*/
:root {
    --color-primary: rgb(49, 250, 140);
    --color-secondary: rgb(34, 34, 34);
    --color-thirt:  rgb(14, 192, 94);
    --color-test: rgb(173, 215, 229);
    --color-btn-hover: rgb(44, 230, 127);
    --color-html: rgb(245, 245, 245);
    --color-light: rgb(255, 255, 255);
    --color-dark: rgb(70, 68, 68);
    --color-darkness: rgb(80, 79, 79);
    --color-navigation: rgba(241, 236, 236, 0.75); 
    --color-content: rgb(39, 220, 121);
    --color-desc: rgb(102, 102, 102); 
    --color-skill: rgb(68, 68, 68);
    --shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

